@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
.wrapper {
  width: 40%;
  margin: 50px auto;
  border: black solid;
  border-radius: 10px;
}

h1 {
  padding-bottom: 10px;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
}

.App {
  text-align: center;
  font-family: "Lato", sans-serif;
  padding: 25px;
}

header {
  align-items: center;
  padding-bottom: 20px;
}
.createTask {
  padding-bottom: 10px;
  text-align: start;
}

.createTask .input {
  flex-basis: 100%;
  text-transform: uppercase;
  font-size: 1.25rem;
  border: none;
}
.createTask .input:focus {
  outline: none;
}

.taskItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
.taskDescription {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.taskTodo {
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 10px 10px 10px 0;
}
.taskTimeLeft {
  font-size: 0.9rem;
}

.buttons button {
  margin-right: 5px;
}

@media (max-width: 940px) {
  .wrapper {
    width: 50%;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .wrapper {
    width: 60%;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .wrapper {
    width: 90%;
  }
}
